* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    scroll-behavior: smooth;
    margin: auto;
}

header,
footer {
    height: 100px;
    width: 100%;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: calc(100% - 200px);
    padding: 2em;
    overflow-y: scroll;
}

.grid {
    display: grid;
    grid-template-columns: 5fr 1fr;    
    gap: 1rem;
}

/* 
html {

}

body {
    -webkit-font-smoothing: antialiased;
}

body,
textarea,
input,
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;

}

body>header {
    position: sticky;
    top: 0;
    z-index: 2;
}

body>footer {
    position: sticky;
    bottom: 0;
    z-index: 2;
}

tbody {
    height: calc(100% - 170px);
    overflow-y: scroll;
}

.register {
    display: flex;
    align-items: center;
    justify-content: end;

    font-size: 2rem;

    kbd {
        padding: 1rem;
    }
}

.grid {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 1rem;

    fieldset {
        margin: 0;
    }
} */